/* reset all margin */
* {
    margin: 0;
    padding: 0;
    }
/* general settings */


body {
    
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1px;
    width: 100%;
    background-size: cover;
    min-height: 500px;
    background-color: #F5F6FC;
   
}


body h2{

    font-size: 2.8em;
    font-weight: 100;
    line-height: 1.2em;
    padding: 50px;
    color: #E6A74E;
    text-align: center;
   
}

body h3{

    font-size: 2.3em;
    font-weight: 300;
    line-height: 1.2em;
    padding: 10px;
    color: black;
    text-align: center;
    margin-top: 25px;
}

body h4{

    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.5em;
    padding: 7px;
    color: #E6A74E;
    text-align: center;
    
    
}

body h5{

    font-size: 1em;
    font-weight: 400;
    line-height: 1.8em;
    padding: 5px;
    color: #ffffff;
    text-align: center;
    
    
}


body p{

    font-size: 1em;
    font-weight: 300;
    line-height: 2em;
    padding: 5px;
    color: #ffffff;
    text-align: center;
    
    
}

.top_menu {
    display: block;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px; 
    
   
}

.underlay {
    background-image: url("https://res.cloudinary.com/dfszquucy/image/upload/v1572364149/home_Background_Image_vb4dyq.jpg");
    position: relative;
    width: 100%;
    background-size: cover;
    height: auto;
    padding-bottom: 10px;
}

.menu {
    display: flex;
    flex-direction: row;
    float: right;
    align-items: baseline; 
    margin-top: 10px;
  }

/* logo style section */

.logo{
    float: left;
}

.top_menu img{
    max-width: 150px;
    max-height: 143px;
}

.container {
    display: flex;
    flex-direction: column;
}


/* link style section */

.top_menu a{
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1em;
    padding: 15px;
    color: #ffffff;
    text-align: center;
}

.top_menu a:hover {
    color:#78AA4A;
  }

/* button style Section */

.top_menu button {
    width: 119px;
    height: 47px;
    border-radius: 40px;
    background-color: rgb(255, 255, 255, 0) ;
    border-width: 1px;
    border-color: #ffffff;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1em;
    padding: 5px;
    color: #ffffff;
    text-align: center;

}

.top_menu button:hover {
    background-color: white; 
    color:#78AA4A;
  }

  /* Header style section */

  .header{
      height: 100px;
      margin-bottom: 10px;
      
  }

  .header h2 {
    color: #E6A74E;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;

  }

  .header h4{
      margin-bottom: 0px;
  }

  /* hr styling section */

  .header hr {
    border: 0;
    height: 1px;
    background: rgb(99, 161, 41);
    background-image: linear-gradient(to right, #ccc, rgb(142, 192, 49), #ccc);
    margin-bottom: 5px;
  }

  /* form styling section */

  .reg_form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
      width: auto;
      padding: 10px;
      margin-top: 10px;

  }

  .reg_form input, select, button {
      padding: 15px;
    }

  input, select{
    width: 353px;
    height: 35px;
    border-radius: 40px;
    background-color: #ffffff;
    border: solid;
    border-width: 1px;
    border-color: #78AA4A;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1em;
    padding: 5px;
    color: #05351D;
    text-align: center;
    margin: 10px;

    
      
  }

  
  
  input:valid {
    border: none;
  }



  .reg_form button {
    cursor: pointer;
    width: 353px;
    height: 66px;
    border-radius: 40px;
    background-color: #2DB23B;
    border: none;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1em;
    color: #ffffff;
    text-align: center;
    margin: 10px;
  
  }

  .reg_form button:hover {
    background-color: rgba(45, 178, 59, 0.7); 
  }


  /* Footer section */

#footer {
    display:flex;
    flex-direction: column;
    background-color: #ffffff;
}

#footer hr{
    margin-bottom: 10px;
    margin-top: 5px;
    color: #78AA4A;
}

.pages {
    display: flex;
    flex-direction: row;
}

.page_name {
    float: left;
    display: flex;
    flex-direction: row;
}

.page_name a{
    color: black;
    text-decoration: none;
    margin: 30px 20px 20px 30px;
}


.flag {
    display: block;
    
}

.flag img{

    width: 50px;
    height: 50px;
}

.information {
    display: flex;
    flex-direction: row;
}

.social {
    display: flex;
    flex-direction: row;
    float: left;
}

.social img {
    margin: 5px 5px 5px 30px;
    width: 50px;
    height: 50px
}

.address {
    display: block;
    margin-left: 70%;
}

.address h4 {
    color: black;
    text-align: right;
}

.copyright {
    display: block;
}
.copyright p{
    color: #78AA4A;
    margin: 20px 0px 5px 30px;
}

  @media screen and (max-width: 600px) {

    body {
        font-size: 12px;
      }

    .top_menu {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-left: none;
        margin-right: none;
        justify-content: center;
        align-items: center;
    }

    .menu {
        display: flex;
        flex-direction: column;
        float: none;
        justify-content: center;
        align-items: center;
      }

   

/* logo style section */

.logo{
    float: none;
}

.top_menu img{
    max-width: 75px;
    max-height: 72px;
}


/* link style section */

.top_menu a{

    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.35em;
    padding: 5px;
    color: #ffffff;
    text-align: center;
}


/* button style Section */

.top_menu button {
    width: 80px;
    height: 32px;
    margin-right: 13px;
    border-radius: 27px;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.2em;
    padding: 5px;
    color: #ffffff;
    text-align: center;    

}

/*footer section styling */

.pages {
    display: flex;
    flex-direction: column;
    
}

.page_name {

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    

}

.page_name a{
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    margin: 30px 10px 20px 10px;
}


.flag {

    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.flag img{
    width: 50px;
    height: 50px;
    margin-right: 0px;
    margin-top: 10px;

}


.information {
    display: flex;
    flex-direction: column-reverse;
}

.social {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
}

.social img {
    margin: 5px 5px 5px 5px;
    width: 50px;
    height: 50px
}

.address {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.address h4 {
    color: black;
    text-align: center;
}

.copyright {
    display: block;
}
.copyright p{
    color: #78AA4A;
    margin: 20px 0px 5px 30px;
}

  }




  

  @media screen and (max-width: 400px) {

    body {
        font-size: 12px;
      }

    .top_menu {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-left: none;
        margin-right: none;
        justify-content: center;
        align-items: center;
    }

    .menu {
        display: flex;
        flex-direction: column;
        float: none;
        justify-content: center;
        align-items: center;
      }

   

/* logo style section */

.logo{
    float: none;
}

.top_menu img{
    max-width: 75px;
    max-height: 72px;
}


/* link style section */

.top_menu a{

    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.35em;
    padding: 5px;
    color: #ffffff;
    text-align: center;
}


/* button style Section */

.top_menu button {
    width: 80px;
    height: 32px;
    margin-right: 13px;
    border-radius: 27px;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.2em;
    padding: 5px;
    color: #ffffff;
    text-align: center;    

}

/*  Form styling section */


input, select{
    width: 247px;
    height: 35px;
    border-radius: 34px;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1em;
    padding: 5px;
    color: #05351D;
    text-align: center;
    margin: 10px;
      
  }

  .reg_form button {
    cursor: pointer;
    width: 285px;
    height: 53px;
    border-radius: 34px;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1em;
    padding: 5px;
    color: #ffffff;
    text-align: center;
    margin: 10px;
  
  }

  /* Footer section Styling */

  .pages {
    display: flex;
    flex-direction: column;
    
}

.page_name {

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    

}

.page_name a{
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    margin: 30px 10px 20px 10px;
}


.flag {

    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.flag img{
    width: 50px;
    height: 50px;
    margin-right: 0px;
    margin-top: 10px;

}


.information {
    display: flex;
    flex-direction: column-reverse;
}

.social {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
}

.social img {
    margin: 5px 5px 5px 5px;
    width: 50px;
    height: 50px
}

.address {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.address h4 {
    color: black;
    text-align: center;
}

.copyright {
    display: block;
}
.copyright p{
    color: #78AA4A;
    margin: 20px 0px 5px 30px;
}

  }



