


body {
  font-family: Roboto, sans-serif;
  background-color: #E6A74E;
  font-size: 16px;
  line-height: 1px;
}


body h2{

  font-size: 2.8em;
  font-weight: 100;
  line-height: 1.2em;
  padding: 50px;
  color: #E6A74E;
  text-align: center;
 
}

body h3{

  font-size: 2.3em;
  font-weight: 300;
  line-height: 1.2em;
  padding: 10px;
  color: black;
  text-align: center;
  margin-top: 25px;
}

body h4{

  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.5em;
  padding: 7px;
  color: #E6A74E;
  text-align: center;
  
  
}

body h5{

  font-size: 1em;
  font-weight: 400;
  line-height: 1.8em;
  padding: 5px;
  color: #ffffff;
  text-align: center;
  
  
}


body p{

  font-size: 1em;
  font-weight: 300;
  line-height: 2em;
  padding: 5px;
  color: #ffffff;
  text-align: center;
  
  
}



.learn_more button{
  width: 353px;
  height: 66px;
  border-radius: 40px;
  border-width: 1px;
  background-color: rgb(255, 255, 255, 0) ;
  border-color: #78AA4A;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1em;
  padding: 5px;
  color: #78AA4A;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom: 50px;

}

.learn_more button:hover {
  background-color:#78AA4A; 
  color:#ffffff;
}




#landing {
  background-image: url("https://res.cloudinary.com/dfszquucy/image/upload/v1572364149/home_Background_Image_vb4dyq.jpg");
  position: relative;
  width: 100%;
  background-size: cover;
  height: auto;
  background-color: #E6A74E;
}


.landing_container {
    display: flex;
    flex-direction: column;
}

.top_menu {
    display: block;
    flex-direction: row;
}

.logo {
    float: left;
}


.logo img{
  max-width: 150px;
  max-height: 143px;
  margin-top: 15%;
}

.menu {
  display: flex;
  flex-direction: row;
  float: right;
}

.login button{
  width: 119px;
  height: 47px;
  margin-top: 30%;
  margin-right: 20px;
  border-radius: 40px;
  background-color: rgb(255, 255, 255, 0) ;
  border-width: 1px;
  border-color: #ffffff;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1em;
  padding: 5px;
  color: #ffffff;
  text-align: center;

}

.login button:hover {
  background-color: white; 
  color:#78AA4A;
}


.signup button{
  width: 119px;
  height: 47px;
  margin-top: 30%;
  margin-right: 20px;
  border: none;
  border-radius: 40px;
  background-color: #78AA4A;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1em;
  padding: 5px;
  color: #ffffff;
  text-align: center;

}

.signup button:hover {
  background-color: rgba(45, 178, 59, 0.7); 
}




@media only screen and (min-width: 300px) and (max-width: 750px) {

  body {
    font-size: 12px;
  }

  body h2{

      font-size: 2.8em;
      font-weight: 300;
      line-height: 1.2em;
      padding: 50px;
      color: #E6A74E;
      text-align: center;
     
  }

  body h4{

      font-size: 1.5em;
      font-weight: 400;
      line-height: 1.5em;
      padding: 7px;
      color: #E6A74E;
      text-align: center;
      
      
  }

  body h5{

      font-size: 1.5em;
      font-weight: 400;
      line-height: 1.8em;
      padding: 5px;
      color: #ffffff;
      text-align: center;
      
      
  }

  body p{

      font-size: 1.5em;
      font-weight: 300;
      line-height: 2em;
      padding: 5px;
      color: #ffffff;
      text-align: center;
      
      
  }


  .learn_more button{
      width: 253px;
      height: 66px;
      border-radius: 40px;
      border-width: 1px;
      background-color: rgb(255, 255, 255, 0) ;
      border-color: #78AA4A;
      font-size: 1.5em;
      font-weight: 400;
      line-height: 1em;
      padding: 5px;
      color: #78AA4A;
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 35px;
      margin-bottom: 50px;
  
   }



  .logo img{
      max-width: 75px;
      max-height: 72px;
    }

    



  .login button{
      width: 80px;
      height: 32px;
      margin-top: 30%;
      margin-right: 13px;
      border-radius: 27px;
      font-size: 1.2em;
      font-weight: 400;
      line-height: 1.2em;
      padding: 5px;
      color: #ffffff;
      text-align: center;
  
   }


  .signup button{

      width: 80px;
      height: 32px;
      margin-top: 30%;
      margin-right: 13px;
      border-radius: 27px;
      font-size: 1.2em;
      font-weight: 400;
      line-height: 1.2em;
      padding: 5px;
      color: #ffffff;
      text-align: center;
  
   }
 
}



@media only screen and (min-width: 751px) and (max-width: 1190px) {

  body {
    font-size: 16px;
  }

  body h2{

      font-size: 2.5em;
      font-weight: 300;
      line-height: 1.2em;
      padding: 50px;
      color: #E6A74E;
      text-align: center;
     
  }

  body h3{

      font-size: 2.3em;
      font-weight: 300;
      line-height: 1.2em;
      padding: 10px;
      color: black;
      text-align: center;
      margin-top: 25px;
  }

  body h4{

      font-size: 1.5em;
      font-weight: 300;
      line-height: 1em;
      padding: 7px;
      color: #E6A74E;
      text-align: center;
      
      
  }

  

  body h5{

      font-size: 1.8em;
      font-weight: 400;
      line-height: 1.8em;
      padding: 5px;
      color: #ffffff;
      text-align: center;
      
      
  }

  body p{

      font-size: 1.5em;
      font-weight: 300;
      line-height: 2em;
      padding: 5px;
      color: #ffffff;
      text-align: center;
      
      
  }


  .learn_more button{
      width: 353px;
      height: 66px;
      border-radius: 40px;
      border-width: 1px;
      background-color: rgb(255, 255, 255, 0) ;
      border-color: #78AA4A;
      font-size: 1.5em;
      font-weight: 400;
      line-height: 1em;
      padding: 5px;
      color: #78AA4A;
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 35px;
      margin-bottom: 50px;
  
   }


  .logo img{
      max-width: 120px;
      max-height: 114px;
    }

    



  .login button{
      width: 120px;
      height: 64px;
      margin-top: 30%;
      margin-right: 13px;
      border-radius: 27px;
      font-size: 1.2em;
      font-weight: 400;
      line-height: 1.2em;
      padding: 5px;
      color: #ffffff;
      text-align: center;
  
   }


  .signup button{

      width: 120px;
      height: 64px;
      margin-top: 30%;
      margin-right: 13px;
      border-radius: 27px;
      font-size: 1.2em;
      font-weight: 400;
      line-height: 1.2em;
      padding: 5px;
      color: #ffffff;
      text-align: center;
  
   }



}