/* reset all margin */
* {
    margin: 0;
    padding: 0;
    }
/* general settings */

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1px;
    width: 100%;
    background-size: cover;
    min-height: 300px;
    background-color: #F5F6FC;
   

}

body h2{

    font-size: 2.8em;
    font-weight: 700;
    line-height: 1.2em;
    padding: 5px;
    color: #E6A74E;
    text-align: center;
   
}

body h3 {

    font-size: 2.5em;
    font-weight: 700;
    line-height: 1.2em;
    margin-top: 0px;
    margin-bottom: 10px;
    color: black;
    text-align: center;

}

body h4{

    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2em;
    margin-top: 0px;
    
  
    color: #4D4D4D;
    text-align: center;
   
}
body h5{

    font-size: 1.2em;
    font-weight: 100;
    line-height: 1.2em;
    color: #E6A74E;
    text-align: center;

}

body h6{
    font-size: 1.2em;
    font-weight: 100;
    line-height: 1.2em;
    color: #4D4D4D;
    text-align: center;

}

.container {
    display: flex;
    flex-direction: column;
}

.underlay {
    background-image: url("https://res.cloudinary.com/dfszquucy/image/upload/v1572364149/home_Background_Image_vb4dyq.jpg");
    position: relative;
    width: 100%;
    background-size: cover;
    height: auto;
    padding-bottom: 10px;
}

.top_menu {
    display: block;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px; 
    
   
}

.logo {
    float: left;
}

.top_menu img{
    max-width: 150px;
    max-height: 143px;
}

.menu {
    display: flex;
    flex-direction: row;
    float: right;
    align-items: baseline; 
    margin-top: 10px;
  }

  .top_menu a{
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1em;
    padding: 15px;
    color: #ffffff;
    text-align: center;
}

.top_menu a:hover {
    color:#78AA4A;
  }

  .top_menu button {
    width: 119px;
    height: 47px;
    border-radius: 40px;
    background-color: rgb(255, 255, 255, 0) ;
    border-width: 1px;
    border-color: #ffffff;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1em;
    padding: 5px;
    color: #ffffff;
    text-align: center;

}

.top_menu button:hover {
    background-color: white; 
    color:#78AA4A;
  }

  .main {
    background-image: url("https://res.cloudinary.com/dfszquucy/image/upload/v1573809865/Group_132_h7ftcl.png");
    min-height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    

  }

  .data_canvas {

    min-height: 1000px;
    min-width: 90%;
    background-color: #ffffff;
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 50px;
    opacity: 60%;
   

  }

  .header {
      margin-top: 20px;
      margin-bottom: 50px;
  }

  .data_content {
      margin-top: 5px;
      margin-bottom: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .data_button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 20px;
    
  }

  .data_button button {
    max-width: 320px;
    padding: 13px 24px;
    margin: 10px;
    background-color: #E8AF60;
    font-size: .9375rem;
    font-weight: 700;
    line-height: 22px;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    box-sizing:border-box;
    margin-left: 0px;

  }
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }