.phonebar{
    display: flex;
    flex-direction: column;
    margin-left: 300px;
   
}

.phonebar input {
  width: 353px;
  height: 66px;
  border-radius: 40px;
  background-color: #ffffff;
  border: none;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1em;
  padding: 5px;
  color: #05351D;
  text-align: center;
  margin: 5px;
    
}

.PhoneButton {
  cursor: pointer;
  width: 353px;
  height: 66px;
  border-radius: 40px;
  background-color: #2DB23B;
  border: none;
  margin: 5px;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1em;
  padding: 5px;
  color: #ffffff;
  text-align: center;
  margin: 5px;

}
.PhoneButton:hover {
    background-color: rgba(45, 178, 59, 0.7); 
  }

@media only screen and (min-width: 300px) and (max-width: 750px) {

  .phonebar{
    display: flex;
    flex-direction: column;
    margin: 0px;
   
}

 
.phonebar input {

    width: 285px;
    height: 53px;
    border-radius: 34px;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1em;
    padding: 5px;
    color: #05351D;
    text-align: center;
    margin: 5px;
      
  }

.PhoneButton {

    cursor: pointer;
    width: 285px;
    height: 53px;
    border-radius: 34px;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1em;
    padding: 5px;
    color: #ffffff;
    text-align: center;
    margin: 5px;

  }
}


@media only screen and (min-width: 751px) and (max-width: 1190px) {
    
    .phonebar {
        display: flex;
        flex-direction: column;
        margin: 0px;
       
    }
  
     
    .phonebar input {
  
        width: 320px;
        height: 60px;
        border-radius: 34px;
        font-size: 1.2em;
        font-weight: 300;
        line-height: 1em;
        padding: 5px;
        color: #05351D;
        text-align: center;
        margin: 5px;
          
      }
  
    .PhoneButton {

        cursor: pointer;
        width: 320px;
        height: 60px;
        border-radius: 34px;
        font-size: 1.2em;
        font-weight: 300;
        line-height: 1em;
        padding: 5px;
        color: #ffffff;
        text-align: center;
        margin: 5px;
    
      }
  
  
      
}
